.headline {
  padding-top: rem(83px);
  display: flex;
  justify-content: center;

  @include phones {
    padding-top: rem(51px);
  }
}

.headline__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: rem(15px);
  text-align: center;

  @include phones {
    row-gap: rem(13px);
  }
}

.headline__title {
  font-size: rem(64px);

  @include phones {
    font-size: rem(48px);
  }
}