.section {
  padding-top: rem(94px);
  padding-bottom: rem(10px);
}

.section__title {
  margin-bottom: rem(9px);
  font-size: rem(48px);
  line-height: 1.333;
}

.section__subtitle {
  font-size: rem(20px);
  line-height: 1.6;
}

.section__headline {
  margin-bottom: rem(55px);
}