@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 4.266vmin;
  }
}

body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #1D1D1F;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

p {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  cursor: pointer;
}

.container-outer {
  max-width: 1793px;
  width: 95%;
  margin: 0 auto;
}

.container {
  max-width: 884px;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .container {
    width: 92%;
  }
}

.header {
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.06);
}

.header__menu {
  font-weight: 500;
  color: #333333;
}
.header__menu .menu__link {
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__menu .menu__link:hover {
  color: #0066CC;
}
@media screen and (max-width: 768px) {
  .header__menu .menu__link:hover {
    color: inherit;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.headline {
  padding-top: 5.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .headline {
    padding-top: 3.1875rem;
  }
}

.headline__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.9375rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .headline__container {
    row-gap: 0.8125rem;
  }
}

.headline__title {
  font-size: 4rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 3rem;
  }
}

.breadcrumbs {
  font-size: 0.875rem;
  font-weight: 400;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.breadcrumbs__item:not(:first-child):before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 1rem;
  background: url(../svg/slash.svg) center center no-repeat;
  background-size: contain;
}

.section {
  padding-top: 5.875rem;
  padding-bottom: 0.625rem;
}
@media screen and (max-width: 480px) {
  .section {
    padding-top: 2.875rem;
    padding-bottom: 0.875rem;
  }
}

.section__title {
  margin-bottom: 0.5625rem;
  font-size: 3rem;
  line-height: 1.333;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
    margin-bottom: 1.0625rem;
    text-align: center;
  }
}

.section__subtitle {
  font-size: 1.25rem;
  line-height: 1.6;
}
@media screen and (max-width: 480px) {
  .section__subtitle {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.section__headline {
  margin-bottom: 3.4375rem;
}
@media screen and (max-width: 480px) {
  .section__headline {
    margin-bottom: 2.625rem;
  }
}

.price__table {
  line-height: 1.5;
  border-collapse: collapse;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(-webkit-max-content, 25%))[4];
  -ms-grid-columns: (minmax(max-content, 25%))[4];
  grid-template-columns: repeat(4, minmax(-webkit-max-content, 25%));
  grid-template-columns: repeat(4, minmax(max-content, 25%));
}
@media screen and (max-width: 768px) {
  .price__table {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.price__table thead, .price__table tbody, .price__table tr {
  display: contents;
}
@media screen and (max-width: 768px) {
  .price__table thead {
    display: none;
  }
}
.price__table th {
  font-weight: 600;
  text-align: left;
  background: #F5F5F7;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 0.9375rem 1rem;
  color: #1D1D1F;
}
.price__table th:first-child {
  padding-left: 1.9375rem;
}
.price__table th:last-child {
  padding-right: 1.9375rem;
}
@media screen and (max-width: 768px) {
  .price__table tr {
    border-top: 1px solid #D9D9D9;
  }
}
.price__table tr td:first-child {
  padding-left: 1.9375rem;
}
@media screen and (max-width: 768px) {
  .price__table tr td:first-child {
    padding-left: 7.5rem;
  }
}
.price__table tr td:last-child {
  padding-right: 1.9375rem;
}
@media screen and (max-width: 768px) {
  .price__table tr td:last-child {
    padding-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .price__table tr {
    display: block;
  }
}
.price__table td {
  padding: 0.6875rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D9D9D9;
}
@media screen and (max-width: 768px) {
  .price__table td {
    padding-left: 7.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .price__table td {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 768px) {
  .price__table td::before {
    content: attr(data-label);
    height: 100%;
    font-weight: 600;
    background: #F5F5F7;
    color: #1D1D1F;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 6.8125rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    top: 0;
    left: 0;
  }
}
.price__table td:last-child {
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .price__table td:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .price__table td:last-child .button {
    margin-left: auto;
  }
}
@media screen and (max-width: 480px) {
  .price__table td:last-child {
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
  }
}

.button {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0066CC;
  background-color: rgba(0, 102, 204, 0.1);
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button:hover {
  color: white;
  background-color: #0066CC;
}
@media screen and (max-width: 768px) {
  .button:hover {
    color: #0066CC;
    background-color: rgba(0, 102, 204, 0.1);
  }
}

.button--theme-dark {
  background-color: #0066CC;
  color: white;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.button--theme-dark:hover {
  background-color: rgba(0, 102, 204, 0.1);
  color: #0066CC;
}

.button--size-l {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 1.75rem;
}

.order__form-background {
  background: #F5F5F7;
  border-radius: 1.25rem;
  padding: 5rem 11% 6rem;
}
@media screen and (max-width: 480px) {
  .order__form-background {
    padding: 2.5625rem 2rem 4rem;
  }
}

.order__form-title {
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 2.9375rem;
  color: #1D1D1F;
}
@media screen and (max-width: 480px) {
  .order__form-title {
    font-size: 2rem;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 2.375rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1.375rem;
  margin-bottom: 2.375rem;
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 1.375rem;
  }
}

.form__row:nth-child(2) {
  row-gap: 2.1875rem;
  margin-bottom: 3.9375rem;
}
@media screen and (max-width: 480px) {
  .form__row:nth-child(2) {
    row-gap: 2.375rem;
    margin-bottom: 2rem;
  }
}

.form__row:nth-child(6) {
  margin-bottom: 2.875rem;
}
@media screen and (max-width: 480px) {
  .form__row:nth-child(6) {
    margin-bottom: 2rem;
  }
}

.form__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media screen and (max-width: 480px) {
  .form__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.input__inner-block {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .input__inner-block {
    padding: 0;
  }
}

.input__input {
  width: 100%;
  background: white;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.9375rem;
  caret-color: #0066CC;
}

.input__title {
  font-size: 1rem;
  line-height: 1.5;
}

.input__input:focus {
  border: 1px solid #0066CC;
}

.input__input.hidden {
  display: none;
}

.range__container {
  position: relative;
}

.range__scale {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background: #0066CC;
  position: absolute;
  left: 0;
  bottom: 0;
}

.range__scale::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #0066CC;
  cursor: pointer;
}

.range__scale::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #0066CC;
  cursor: pointer;
}

.range__text {
  text-align: center;
}

.range__text::-webkit-outer-spin-button, .range__text::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range__scale-values {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
}
@media screen and (max-width: 480px) {
  .range__scale-values {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.range__scale-value {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #58585D;
  text-align: center;
}

.range__scale-value:nth-child(2) {
  margin-left: 4%;
}

.range__scale-value:nth-child(3) {
  margin-left: 3%;
}

.number__container {
  position: relative;
}

.number__input {
  text-align: center;
}

.number__input:focus {
  border: 1px solid #E1E1E1;
}

.number__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.number__button {
  height: 100%;
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  border: 1px solid #E1E1E1;
  color: #0066CC;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.number__button:hover {
  color: white;
  background-color: #0066CC;
  border: 1px solid #0066CC;
}

.number__button--minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.number__button--plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.control {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 22%;
          flex: 1 1 22%;
}
@media screen and (max-width: 768px) {
  .control {
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .control {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .control {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (max-width: 480px) {
  .control {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.control__visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.control__button {
  width: 2.75rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #BABAC2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.control__button::after {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: absolute;
  background: white;
  left: 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: left 0.3s, -webkit-transform 0.3s;
  transition: left 0.3s, -webkit-transform 0.3s;
  transition: left 0.3s, transform 0.3s;
  transition: left 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.control__checkbox:checked + .control__visible .control__button {
  background-color: #0066CC;
}
.control__checkbox:checked + .control__visible .control__button::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.file__visible {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23B9B1B1FF' stroke-width='1' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.25rem;
  border-image-slice: 1;
  padding: 2.1875rem;
  text-align: center;
  color: #58585D;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .file__visible {
    padding: 1.25rem;
  }
}
.file__visible p {
  line-height: 1.5;
}
.file__visible p:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 480px) {
  .file__visible p:not(:last-child) {
    margin-bottom: 0;
  }
}